* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5e4e7;
    font-size: 18px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;

    >div {
        padding: 16px;
        border-radius: 12px;
        flex: 1 0 0;
    }
}

.result {
    background-color: #00474b;
    position: relative;

    table {
        border: 0;
        width: 100%;

        tr {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            color: #ffffff;

            span {
                color: #27c5ac;
            }
        }
    }

    button {
        width: calc(100% - 24px);
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 12px;
        position: absolute;
        bottom: 12px;
        left: 12px;
        right: 0;

    }
}

label {
    width: 100%;
    display: block;
}

input {
    border: 1px solid #cccccc;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    outline: 0;
}

.tip-percentage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    button {
        border: 0;
        background-color: #00474b;
        color: #ffffff;
        padding: 12px;
        border-radius: 6px;
    }
}
.mb-12 {
    margin-bottom: 12px;
}